<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

		<meta http-equiv="refresh" content="3;url=url=loginPage" />

        <title>404</title>  

        <link rel="stylesheet" href="login.css" th:href="@{resources/css/bootstrap.min.css}"/> 

        <link rel="stylesheet" href="register.css" th:href="@{resources/css/404.css}"/>

    </head>
	<body>

		<script th:src="@{resources/js/jquery-3.4.1.slim.min.js}"></script>
   	    <script th:src="@{resources/js/bootstrap.min.js}"></script>

   	    <div class="container">
			<div class="d-flex justify-content-center h-100">
				<div class="card">
					<div class="card-header">
						<h3>404</h3>
					</div>
					<div><a th:href="@{/}" href="home">RUN</a></div>
				</div>
			</div>
		</div>			

   	 </body>
   	 </html>   