<!DOCTYPE html5>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
  <head>
      <meta charset="UTF-8"/>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <meta http-equiv="refresh" content="4;url=loginPage" /> 

      <title>Landing Page</title>

      <link rel="stylesheet" href="login.css" th:href="@{resources/css/bootstrap.min.css}"/>

      <link rel="stylesheet" href="register.css" th:href="@{resources/css/landing.css}"/>      

  </head>
	<body>
      <div id="confirm">
           <h2>You have been successfully logged out!</h2>
      </div>

      <script th:src="@{resources/js/jquery-3.4.1.slim.min.js}"></script>
      <script th:src="@{resources/js/bootstrap.min.js}"></script>
      
  </body>
</html>