<!DOCTYPE html5>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta http-equiv="refresh" content="5;url=loginPage" /> 

        <title>Registration Confirmation Page</title>

        <link rel="stylesheet" href="registration-confirmation.css" 
                               th:href="@{resources/css/registration-confirmation.css}"/>

        <link
        			href="bootstrap.min.css"
        			th:href="@{//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css}"
        			rel="stylesheet" id="bootstrap-css"/>

    </head>
	<body>
		
		<script th:src="@{//code.jquery.com/jquery-3.2.1.slim.min.js}"></script>
   	    <script th:src="@{//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js}"></script>

            <div id="confirm">
                 <h2>Registration Confirmed...</h2>
            </div>

    </body>
    </html>
